# API Keys
GEMINI_API_KEY=
SATELLITE_API_KEY=
DATABASE_URL=

# AI Configuration
# Sugestão: gemini-2.5-flash ou gemini-1.5-flash
GEMINI_MODEL=gemini-2.5-flash
HEARTBEAT_SECRET=

# Outras configurações
NODE_ENV=development
PORT=5000
